{% extends 'layout.html' %}
{% block body %}
<div class="service-section">
    <div class="container service__section-item">
        <h3 class="service__title-h3">¿Quieres hacer una reforma moderno?</h3>
        <p class="service__text-p">Somos una empresa que realiza reformas acompañando con nuestros especialistas mejorando tus ideas, ya que somos expertos en nuestro sector y tenemos más de 10 años de experiencia. Confía en nosotros y haz cumplir tus sueños.</p>
    </div>
</div>
<div class="service__section-container">

    <div class="card mb-3 service__section-items" data-aos="zoom-in-right">
        <div class="row g-0" style="margin: 15px;">
            <div class="col-md-4">
                <img src="../static/img/Reeforma_salon.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8" style="padding: 15px;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 30px;">Reforma Salón</h5>
                    <p class="card-text" style="font-size: 18px; ">Bienvenido a nuestra oferta de Reforma de Salón. Transforma tu espacio de estar en un lugar que refleje tu estilo y comodidad. Nuestro equipo de expertos en diseño interior y renovación está listo para trabajar contigo en cada paso del proceso. Desde la selección de colores y materiales hasta el diseño de la disposición del mobiliario, nos aseguraremos de que tu salón se convierta en un oasis acogedor para ti, tu familia y tus invitados. Con una combinación de creatividad y atención meticulosa a los detalles, lograremos un salón que realmente se adapte a tu forma de vida y personalidad. ¡Contáctanos hoy para empezar a dar vida a tu visión de un salón perfectamente renovado!</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 service__section-items"data-aos="zoom-in-left">
        <div class="row g-0" style="margin: 15px;">
            <div class="col-md-8" style="padding: 15px;">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Source Sans Pro', sans-serif;font-size: 30px;">Reforma Cocina</h5>
                    <p class="card-text" style="font-size: 18px;">
                        Descubre la magia de una Reforma de Cocina con nosotros. La cocina es el corazón de cualquier hogar, y estamos aquí para asegurarnos de que sea funcional, estilizada y acogedora. Nuestro equipo altamente capacitado te ayudará a planificar cada aspecto de tu nueva cocina, desde la distribución eficiente hasta la selección de los electrodomésticos y acabados adecuados. Ya sea que sueñes con una cocina moderna y minimalista o un espacio rústico y cálido, podemos convertir esa visión en realidad. Con un enfoque en la calidad de la mano de obra y la satisfacción del cliente, nos comprometemos a entregar una cocina que exceda tus expectativas. ¡No esperes más para dar el primer paso hacia tu cocina de ensueño!
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../static/img/cocina.jpg" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>
    <div class="card mb-3  service__section-items" data-aos="zoom-in-right">
        <div class="row g-0" style="margin: 15px;">
            <div class="col-md-4">
                <img src="../static/img/banio.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8" style="padding: 15px;">
                <div class="card-body">
                    <h5 class="card-title" style="font-family: 'Source Sans Pro', sans-serif;font-size: 30px;">Reforma Baño</h5>
                    <p class="card-text" style="font-size: 18px;">
                        Bienvenido a nuestro servicio de Reforma de Baño, donde la funcionalidad y el lujo convergen. Entendemos la importancia de tener un baño que no solo sea práctico, sino también un lugar de relajación. Nuestro equipo de diseñadores y contratistas trabajará contigo para crear un baño que refleje tu estilo personal mientras optimiza el espacio disponible. Desde la selección de azulejos y grifería hasta la planificación de soluciones de almacenamiento inteligentes, nos encargaremos de cada detalle. Ya sea que desees un spa tranquilo o un diseño moderno y eficiente, estamos comprometidos a transformar tu baño en un santuario personal. ¡Comienza el camino hacia un baño renovado y elegante hoy mismo!
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="service__button-clicl" data-aos="fade-down">
        
        <span>Pulsa </span>&nbsp;
        <a class="btn btn-warning service__button-go" href="/fotos" role="button">AQUÍ </a>&nbsp;
        <span> para ver nuestros trabajos realizados</span>
    </div>
    
    <div
        class="container container__services"
        data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500"
        style="margin-top: 100px;"
    >
        <div class="card tox d-flex container__services-item" style="width: 18rem;">
            <img src="/static/img/salon.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-center align-items-center" style="padding: 1.25rem;width: 18rem;">
                <h5>Reforma Salón</h5>
                <p class="card-text">Detalles transforman este espacio en un oasis de relajación y comodidad, brindando experiencia spa.</p>
                <a href="#" class="btn btn-primary">Hacer presupuesto</a>
            </div>
        </div>
        <div class="card tox d-flex container__services-item" style="width: 18rem;">
            <img src="/static/img/reformas-banos.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-center align-items-center" style="padding: 1.25rem;width: 18rem;">
                <h5 class="card-title">Reforma Baño</h5>
                <p class="card-text">Si quieres darle un toque particular al baño, inspírate en esta fotografía e incorpora al espacio una lámpara bonita.</p>
                <a href="/presupuesto" class="btn btn-primary">Hacer presupuesto</a>
            </div>
        </div>
        <div class="card tox d-flex container__services-item" style="width: 18rem;">
            <img src="/static/img/Reforma-de-cocina.jpg" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column justify-content-center align-items-center" style="padding: 1.25rem;width: 18rem;">
                <h5 class="card-title">Reforma Cocina</h5>
                <p class="card-text">Para cualquier reforma, es ideal consultar a expertos que puedan brindar consejos de forma profesional</p>
                <a href="#" class="btn btn-primary">Hacer presupuesto</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
