{% extends 'layout.html' %}

{% block body %}
<div class="container" >
    
        <div class="container__video-h1">
            
            <h1 class="viedo__h1">Videos de reformas modernas</h1>
        </div>
      
        <div class="gallery">
          <div class="gallery-item">
            <a href="https://www.youtube.com/embed/kd7jivUveOA" data-lightbox="video">
              <img src="https://img.youtube.com/vi/kd7jivUveOA/hqdefault.jpg" alt="Video 1">
            </a>
          </div>
          <div class="gallery-item">
            <a href="https://www.youtube.com/embed/BdO-M_jQVE8" data-lightbox="video">
              <img src="https://img.youtube.com/vi/BdO-M_jQVE8/hqdefault.jpg" alt="Video 2">
            </a>
          </div>
          <div class="gallery-item">
            <a href="https://www.youtube.com/embed/7WsmKbkmPWU" data-lightbox="video">
              <img src="https://img.youtube.com/vi/7WsmKbkmPWU/hqdefault.jpg" alt="Video 3">
            </a>
          </div>
          <div class="gallery-item">
            <a href="https://www.youtube.com/embed/lxg9dV2AFlA" data-lightbox="video">
              <img src="https://img.youtube.com/vi/lxg9dV2AFlA/hqdefault.jpg" alt="Video 4">
            </a>
          </div>
        </div>
    
</div>
<br>
<br>
<br>
<br>
{% endblock %}
